{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": "node 10"
      }
    ],
    "@babel/react"
  ],
  "env": {
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  }
}
